*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# idea .gitignore
.idea/shelf/
.idea/workspace.xml

# app .gitingore
app/build/

# Ignora minhas anotações
0-Anotações

# Ignora meus rascunhos de projetos
scratch

# Ignore Jupyter Notebooks
.ipynb_checkpoints

